<section class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a class="header-logo" href="./index.html">
        <svg class="icon-logo">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        <svg class="icon-logo-text">
          <use href="./img/icons.svg#icon-logo-text"></use>
        </svg>
      </a>

      <div class="header-menu-wrap">
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a class="header-menu-link" href="#how-it-works">How It Works</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#vegetables">Vegetables</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#reviews">Reviews</a>
          </li>
        </ul>

        <div class="header-shop-btn">
          <a class="header-shop-now" href="#shop-now">SHOP NOW</a>
        </div>
      </div>

      <button data-modal-open type="button" class="mobile-btn">
        <svg class="icom-mobile-menu">
          <use href="../img/icons.svg#icon-open-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</section>

<!-- ===== NAMES for LINKS===== -->
<!-- <h2 name="how-it-works"></h2>
<h2 name="vegetables"></h2>
<h2 name="reviews"></h2>

<h2 name="shop-now"></h2> -->
