<section class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a class="header-logo" href="../index.html">
        <svg class="icon" width="16" height="16">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
        <svg class="icon" width="148" height="12">
          <use href="../img/icons.svg#icon-logo-text"></use>
        </svg>
      </a>
      <!-- <span>GREEN.HARVEST</span> -->

      <!-- <div class="open-menu-btn"> -->
      <svg class="icon" width="32" height="32">
        <use href="../img/icons.svg#icon-open-menu"></use>
      </svg>
      <!-- </div> -->
    </nav>
  </div>
</section>
