<section class="how-it section">
  <div class="how-it-works">
    <h2 class="visually-hidden">How it works</h2>
    <!-- <picture>
      <source
        srcset="
        ../img/how-it-works/
          ../img/how-it-works/image-how_it.png     1x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ../img/how-it-works/image-how_it-mob-tab-2x.jpg 2x,
          ../img/how-it-works/image-how_it-mob-tab.jpg    1x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
              ../img/how-it-works/image-how_it-mob-@2x.png 2,
              ../img/how-it-works/image-how_it-mob.png    1x
            "
        media="(min-width:375px)"
      />
      <img
        class="how-it-works-img"
        src="../img/how-it-works/image-how_it.png"
        alt="How it works"
        width="640"
        height="640"
      />
    </picture> -->
    <img
      class="how-it-works-img"
      srcset="
      ./img/how-it-works/image-how_it-mob.png 
      ./img/how-it-works/image-how_it-mob-@2x.png 2x"
      src="./img/how-it-works/image-how_it-mob.png"
      alt="How it works"
    />
  </div>
  <div class="order">
    <h2 class="order-title">
      To order your <span class="order-span">vegetable</span> basket, simply
      follow these <span class="order-span">easy steps</span>
    </h2>
    <p class="order-text">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home.
    </p>
    <ul class="order-list">
      <li class="order-list-item">
        <div class="order-icon-oreol">
          <a class="order-icon" href="">
            <svg
              class="order-icon-svg"
              width="8"
              height="20"
              aria-label="icon one"
            >
              <use href="../img/icons.svg#icon-1"></use>
            </svg>
          </a>
        </div>
        <p class="order-text-list">
          Just choose <span class="order-span-list">the vegetable</span> you
          want to order by clicking on the checkboxes
          <span class="order-span-list">next to it.</span>
        </p>
      </li>
      <li class="order-list-item">
        <div class="order-icon-oreol">
          <a class="order-icon" href="">
            <svg
              class="order-icon-svg"
              width="12"
              height="20"
              aria-label="icon two"
            >
              <use href="../img/icons.svg#icon-2"></use>
            </svg>
          </a>
        </div>
        <p class="order-text-list">
          Click on <span class="order-span-list">the basket</span> and fill out
          the form.
        </p>
      </li>
      <li class="order-list-item">
        <div class="order-icon-oreol">
          <a class="order-icon" href="">
            <svg
              class="order-icon-svg"
              width="13"
              height="20"
              aria-label="icon thre"
            >
              <use href="../img/icons.svg#icon-3"></use>
            </svg>
          </a>
        </div>
        <p class="order-text-list">
          Sit back and relax! Your
          <span class="order-span-list">fresh vegetables</span> basket will be
          delivered.
        </p>
      </li>
    </ul>
  </div>
</section>
