<section class="menu">
  <div class="backdrop is-open">
    <div class="mobile-menu is-open">
      <button class="menu-close-btn" type="button">
        <svg class="modal-icon-close" width="32" height="32">
          <use href="./img/icons.svg#icon-close-btn2"></use>
        </svg>
      </button>

      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link curent" href="#how-it-works"
            >How it Works</a
          >
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#reviews">Reviews</a>
        </li>
      </ul>

      <div class="mobile-shop-btn">
        <a class="mobile-shop-now" href="#shop-now">SHOP NOW</a>
      </div>
    </div>
  </div>
</section>
