<section class="reviews">
  <div class="container-reviews container">
    <div class="reviews-container-title">
      <h2 class="reviews-title">
        reviews from our <span class="reviews-title-color">customers</span>
      </h2>
      <p class="reviews-description">
        Words of our customers: impressions and opinions about the quality of
        our services and the freshness of our products.
      </p>
    </div>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          class="reviews-item-img"
          srcset="./img/reviews/JohnWax.jpg 1x, ./img/reviews/JohnWax@2x.jpg 2x"
          src="./img/reviews/JohnWax.jpg"
          alt="John Wax Photo"
          width="56"
          height="56"
        />
        <h3 class="reviews-item-title">John Wax</h3>
        <p class="reviews-item-text">
          These vegetables are my secret to delicious and healthy meals. The
          quality is always at the highest level, the aroma and taste are
          enchanting. I advise every fan of real products!
        </p>
      </li>
      <li class="reviews-item reviews-second-item">
        <img
          class="reviews-item-img"
          srcset="
            ./img/reviews/VictoriaRomashenko.jpg    1x,
            ./img/reviews/VictoriaRomashenko@2x.jpg 2x
          "
          src="./img/reviews/VictoriaRomashenko.jpg"
          alt="Victoria Romashenko Photo"
          width="56"
          height="56"
        />
        <h3 class="reviews-item-title">Victoria Romashenko</h3>
        <p class="reviews-item-text">
          I love how fast and fresh the vegetables are delivered. Salads always
          turn out so appetizing, and soups are real masterpieces. The quality
          is impeccable!
        </p>
      </li>
      <li class="reviews-item reviews-third-item">
        <img
          class="reviews-item-img"
          srcset="
            ./img/reviews/IhorTrachuk.jpg    1x,
            ./img/reviews/IhorTrachuk@2x.jpg 2x
          "
          src="./img/reviews/IhorTrachuk.jpg"
          alt="Ihor Trachuk Photo"
          width="56"
          height="56"
        />
        <h3 class="reviews-item-title">Ihor Trachuk</h3>
        <p class="reviews-item-text">
          Recently tried my fresh tomatoes and peppers - amazing! The
          authenticity of the taste, as if from the garden directly to my table.
          It is now my main vegetable supplier.
        </p>
      </li>
    </ul>
  </div>
</section>
