<section class="organic-vegetables section">
  <div class="container-organic-vegetables">
    <h2 class="vegetable-title">
      ORGANIC <span class="vegetable-title-color">VEGETABLES</span>
    </h2>
    <p class="vegetable-description">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetable-list">
      <li class="vegetable-item">
        <div class="content-veg">
          <h3 class="vegetable-item-title">eggplant</h3>
          <p class="vegetable-item-price">60 UAH / kg</p>
        </div>
        <picture>
          <source
            srcset="
              ./img/vegetables/eggplant.jpg    1x,
              ./img/vegetables/eggplant@2x.jpg 2x
            "
          />
          <img src=".img/vegetables/eggplant.jpg" alt="eggplant" />
        </picture>
      </li>
      <li class="vegetable-item">
        <div class="content-veg">
          <h3 class="vegetable-item-title">leek</h3>
          <p class="vegetable-item-price">50 UAH / kg</p>
        </div>
        <picture>
          <source
            srcset="
              ./img/vegetables/leek.jpg    1x,
              ./img/vegetables/leek@2x.jpg 2x
            "
          />
          <img src="./img/vegetables/leek.jpg" alt="leek" />
        </picture>
      </li>
      <li class="vegetable-item">
        <picture>
          <div class="content-veg">
            <h3 class="vegetable-item-title">mushrooms</h3>
            <p class="vegetable-item-price">40 UAH / kg</p>
          </div>
          <source
            srcset="
              ./img/vegetables/mushrooms.jpg    1x,
              ./img/vegetables/mushrooms@2x.jpg 2x
            "
          />
          <img src="./img/vegetables/mushrooms.jpg" alt="mushrooms" />
        </picture>
      </li>
      <li class="vegetable-item">
        <div class="content-veg">
          <h3 class="vegetable-item-title">corn</h3>
          <p class="vegetable-item-price">60 UAH / kg</p>
        </div>
        <picture>
          <source
            srcset="
              ./img/vegetables/corn.jpg    1x,
              ./img/vegetables/corn@2x.jpg 2x
            "
          />
          <img src="./img/vegetables/corn.jpg" alt="corn" />
        </picture>
      </li>
      <li class="vegetable-item">
        <div class="content-veg">
          <h3 class="vegetable-item-title">sweet potatoes</h3>
          <p class="vegetable-item-price">50 UAH / kg</p>
        </div>
        <picture>
          <source
            srcset="
              ./img/vegetables/sweetpotatoes.jpg    1x,
              ./img/vegetables/sweetpotatoes@2x.jpg 2x
            "
          />
          <img src="./img/vegetables/sweetpotatoes.jpg" alt="sweet potatoes" />
        </picture>
      </li>
      <li class="vegetable-item">
        <div class="content-veg">
          <h3 class="vegetable-item-title">carrot</h3>
          <p class="vegetable-item-price">40 UAH / kg</p>
        </div>
        <picture>
          <source
            srcset="
              ./img/vegetables/carrot.jpg    1x,
              ./img/vegetables/carrot@2x.jpg 2x
            "
          />
          <img src="./img/vegetables/carrot.jpg" alt="carrot" />
        </picture>
      </li>
    </ul>
  </div>
</section>
