<section class="your-order-section">
  <div class="container container-your-order">
    <div class="your-order-top your-order-top-wrap">
      <h2 class="your-order-title">
        Fresh <span class="your-order-title-span">Harvest</span> Box has got you
        covered
      </h2>
      <p class="your-order-title-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="end-wrapper">
      <form class="your-order-form">
        <p class="your-order-form-title">
          Ordering <span>from us</span> is quick and easy! Fill out
          <span>the form</span> below and we will contact you !
        </p>
        <input
          class="your-order-form-input"
          name="user-name"
          type="text"
          placeholder="Full Name"
          required
        />
        <input
          class="your-order-form-input"
          name="user-email"
          type="email"
          placeholder="Email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          required
        />
        <textarea
          class="your-order-form-text"
          name="user-comment"
          placeholder="Comment"
        ></textarea>
        <button class="your-order-form-btn" type="submit">Send</button>
      </form>
      <div class="your-order-soc-network">
        <picture>
          <source
            srcset="
              ./img/Your-order/order-smoothie-2x.jpg 2x,
              ./img/Your-order/order-smoothie.jpg    1x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/Your-order/order-smoothie-tab-2x.jpg 2x,
              ./img/Your-order/order-smoothie-tab.jpg    1x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/Your-order/order-smoothie-mob-2x.jpg 2x,
              ./img/Your-order/order-smoothie-mob.jpg    1x
            "
            media="(min-width:320px)"
          />
          <img
            class="your-order-soc-network-img"
            src="../img/Your-order/order-smoothie-tab.jpg"
            alt="making smoothies"
            width="528"
            height="273"
          />
        </picture>
        <p class="soc-network-title">Follow us on our social networks:</p>
        <ul class="soc-network-link">
          <li>
            <a href="https://www.instagram.com/goitclub/" target="_blank"
              >instagram</a
            >
          </li>
          <li>/</li>
          <li>
            <a href="https://www.facebook.com/goITclub/" target="_blank"
              >facebook</a
            >
          </li>
          <li>/</li>
          <li>
            <a href="https://www.youtube.com/c/GoIT" target="_blank">youtube</a>
          </li>
        </ul>
      </div>

    <form class="your-order-form">
      <p class="your-order-form-title">
        Ordering <span>from us</span> is quick and easy! Fill out
        <span>the form</span> below and we will contact you !
      </p>
      <input type="text" /><input type="text" />
      <textarea name="user-comment" placeholder="Comment"></textarea>
      <button type="submit">Send</button>
    </form>
    <div class="your-order-soc-network">
      <img
        src="./img/Your-order/image-Your_order-mob.png"
        alt="making smoothies"
      />
      <p class="soc-network-title">Follow us on our social networks:</p>
      <ul>
        <li>
          <a href="https://www.instagram.com/goitclub/" target="_blank"
            >instagram</a
          >/
        </li>
        <li>
          <a href="https://www.facebook.com/goITclub/" target="_blank"
            >facebook</a
          >/
        </li>
        <li>
          <a href="https://www.youtube.com/c/GoIT" target="_blank">youtube</a>/
        </li>
      </ul>
    </div>
  </div>
</section>
