.advertisement {
  background-color: #fbfbfb;
}

.container-advertisement {
  padding: 80px 10px;
  max-width: 375px;
}

.advertisement-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 50px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  padding-left: 10px;
}

.advertisement-sale {
  border-radius: 12px;
  background-color: #576f35;
  padding: 0 10px;
}

.advertisement-text-sale {
  color: #fbfbfb;
  font-weight: 600;
  font-size: 48px;
  line-height: 50px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .container-advertisement {
    padding: 100px 16px;
    max-width: 768px;
  }
  .advertisement-sale {
    max-width: 736px;
    padding-left: 16px;
  }
  .advertisement-text-sale {
    font-size: 64px;
    line-height: 70px;
  }

  .advertisement-text {
    padding-left: 16px;
    font-size: 64px;
    line-height: 70px;
  }
}

@media only screen and (min-width: 1280px) {
  .container-advertisement {
    padding: 100px;
    max-width: 1280px;
  }
  .advertisement-sale {
    max-width: 808px;
    padding: 0 0 0 13px;
  }
  .advertisement-text-sale {
    font-size: 76px;
    line-height: 80px;
  }
  .advertisement-text {
    font-size: 76px;
    line-height: 80px;
  }
}
