.advertisement {
  background-color: #fbfbfb;
}

.container-advertisement {
  padding: 80px 10px;
  max-width: 375px;
}

.advertisement-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 50px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.advertisement-sale {
  border-radius: 12px;
  background-color: #576f35;
  padding: 0 10px;
}

.advertisement-text-sale {
  color: #fbfbfb;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 50px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .container-advertisement {
    padding: 100px 16px;
    max-width: 768px;
  }
}

@media only screen and (min-width: 1280px) {
  .container-advertisement {
    padding: 100px;
    max-width: 1280px;
  }
}
