.footer {
  background-color: #7a3145;
  font-family: 'Inter Tight', sans-serif;
}

.footer-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-mane-info-container {
  margin-bottom: 80px;
}
.footer-logo {
  margin-bottom: 14px;
}
.footer-logo-container {
  margin-bottom: 40px;
  max-width: 296px;
}

.footer-logo {
  display: flex;
  gap: 4px;
}
.footer-logo-icon {
  height: 16px;
  width: 16px;
}
.footer-logo-icon-text {
  width: 148px;
  height: 12px;
  align-self: center;
}
.footer-main-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: #fbfbfb;
}

.footer-nav-contacts-container {
  max-width: 215px;
}
.footer-page-nav {
  margin-bottom: 40px;
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-nav-item {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.footer-contact-address {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
.footer-contact-address-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 215px;
}
.footer-contact-place {
  font-style: normal;
}
.privacy-policy-container {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);

  display: flex;
  justify-content: space-between;
}
.footer-contact-tel {
  font-style: normal;
}
.privacy-policy-list {
  display: flex;
  gap: 8px;
}

.footer-green-harvest {
  line-height: 1.16667;
}

/*================================== MEDIA ===================================*/
/*---------------------------------- Tablet ----------------------------------*/
@media only screen and (min-width: 768px) {
  .footer-container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .footer-mane-info-container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 100px;
  }
  .footer-logo {
    gap: 8px;
    margin-bottom: 25px;
  }
  .footer-logo-container {
    max-width: 265px;

    margin-bottom: 0;
  }
  .footer-logo-icon {
    height: 18px;
    width: 18px;
  }
  .footer-logo-icon-text {
    width: 168px;
  }
  .footer-page-nav {
    margin-bottom: 64px;
  }

  .footer-nav-contacts-container {
    margin-bottom: 0px;
    max-width: 513px;
  }

  .footer-nav-list {
    gap: 25px;
  }
  .footer-nav-item {
    font-size: 32px;
  }
  .footer-contact-address {
    font-size: 18px;
    line-height: 1.1;
  }
  .footer-contact-address-list {
    gap: 25px;
  }

  .privacy-policy-container {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.01em;
  }
}

/*---------------------------------- Desktop ----------------------------------*/
@media only screen and (min-width: 1280px) {
  .footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-mane-info-container {
    display: flex;
    max-width: 1080px;
    margin-bottom: 125px;
  }

  .footer-nav-contacts-container {
    display: flex;
    gap: 121px;
    max-width: 513px;
  }
  .footer-page-nav {
    margin-bottom: 0;
  }
}
.footer-nav-item {
  font-size: 31px;
}
