.header {
  /* temporary background. need "hero" to del it */
  background-color: #576f35;
  /*  */
  top: 20px;
  left: 0;
}

.icon-logo {
  height: 16px;
  width: 16px;
}

.icon-logo-text {
  width: 148px;
  height: 12px;
}

.icom-mobile-menu {
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0);
}

.header-navigation {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  gap: 2px;
  align-items: center;
}

.header-menu-wrap {
  display: none;
}

.mobile-btn {
  display: block;
  background: transparent;
  border-color: transparent;
}

@media only screen and (min-width: 768px) {
  .header-navigation {
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header-logo {
    display: flex;
    column-gap: 8px;
    align-items: center;
  }

  .icon-logo {
    height: 18px;
    width: 18px;
  }

  .icon-logo-text {
    width: 168px;
    height: 15px;
  }

  .icom-mobile-menu {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .icon-logo-text {
    padding-top: 2px;
  }

  .icom-mobile-menu {
    display: none;
  }

  .mobile-btn {
    display: none;
  }

  .header-menu-wrap {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .header-menu-list {
    display: flex;
    gap: 8px;
  }
  .header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    display: block;
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
  }

  .header-menu-item:hover {
    background-color: #fbfbfb;
    color: #7a3145;
  }

  .header-menu-item:focus {
    background-color: #7a3145;
    color: #fbfbfb;
  }

  .header-shop-btn:hover {
    background-color: #622133;
  }

  .header-shop-btn:focus {
    background-color: #7a3145;
    color: #fbfbfb;
  }

  .header-shop-btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    border-radius: 30px;
    padding: 16px 32px;
    background: #7a3145;
  }
}
