.how-it {
  background-color: #7a3145;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.how-it-works {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.img-section {
  padding: 40px 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.how-it-works-img {
  margin: 0 auto;
  border-radius: 30px;
  width: 335px;
  height: 450px;
}
.order {
  background-color: #576f35;
  padding: 80px 20px;
  width: 100%;
}
.order-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin: 20px auto;
  max-width: 335px;
}
.order-span {
  color: rgba(251, 251, 251, 0.3);
}
.order-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #fbfbfb;
  max-width: 335px;
  margin: auto;
  margin-bottom: auto;
  margin-bottom: 40px;
}
.order-list {
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 335px;
}
.order-list-item {
  border-radius: 15px;
  padding: 12px 27px 12px 24px;
  height: 76px;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
}
.order-icon-oreol {
  border-radius: 100%;
  stroke-width: 5px;

  background-color: rgba(122, 49, 69, 0.3);
  min-width: 52px;
  min-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-icon {
  border-radius: 100%;
  fill: #fbfbfb;
  background-color: #7a3145;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-text-list {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #141414;
  margin-left: 20px;
  width: 252px;
}
.order-span-list {
  font-weight: 700;
  color: var(--text);
}
@media screen and (min-width: 768px) {
  .how-it-works {
  }
  .how-it-works-img {
    border-radius: 30px;
    width: 640px;
    height: 640px;
  }
  .order {
    width: 100%;
  }
  .order-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    max-width: 450px;
  }
  .order-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    max-width: 450px;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 40px;
  }
  .order-list {
    max-width: 450px;
    height: 268px;
  }
}
@media screen and (min-width: 1280px) {
  .how-it {
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #576f35 50%, #7a3145 50%);
    display: flex;
  }

  .img-section {
    padding: 0;
  }

  .how-it-works {
    margin: 0 auto;
    max-width: 1280px;
    flex-direction: row;
    padding: 100px;
    display: flex;
    align-items: start;
  }
  .how-it-works-img {
    border-radius: 30px;
    max-width: 430px;
    max-height: 559px;
    margin-right: 100px;
    margin-left: 20px;
  }
  .order {
    margin-left: 100px;
    padding: 0;
    width: 650px;
  }
  .order-title {
    max-width: 450px;
    margin: 0 0 25px;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }
  .order-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
  }
  .order-list {
    width: 450px;
    height: 268px;
  }
}
