.mobile-menu {
  position: fixed;
  top: 0;
  background-color: #7a3145;
  width: 375px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: flex-start; */

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  z-index: 9;
}

/* =========== Switch ON/OF ========== */
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* =========== END Switch ========== */

.menu-close-btn {
  display: block;
  margin-left: auto;
  border-width: 0px;
  background-color: #7a3145;
}

.mobile-menu-wrap {
  display: flex;
  flex-direction: column;
}

.mobile-menu-list {
  padding-top: 188px;
}

.mobile-menu-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 8px;
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;

  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px 16px;
  width: 115px;
  height: 42px;
}

.curent {
  position: relative;
  background-color: #fbfbfb;
  color: #7a3145;
}

.mobile-shop-now {
  border-radius: 30px;
  padding: 16px 41px;
  width: 155px;
  height: 50px;

  background-color: #fbfbfb;
  color: #7a3145;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  display: flex;
}

.mobile-shop-btn {
  display: flex;
  justify-content: center;
  margin: 340px auto 40px auto;
}

.modal-icon-close {
  fill: transparent;
  stroke: #fff;
}

/* ========== MEDIA =========== */
@media only screen and (min-width: 768px) {
  .mobile-menu {
    width: 351px;
  }
  .mobile-shop-btn {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1280px) {
}
