.reviews {
  background-color: #fbfbfb;
  padding: 80px 20px;
}
.container-reviews {
  margin: 0 auto;
  max-width: 375px;
  padding: 0;
}

.reviews-container-title {
  max-width: 335px;
  margin-bottom: 40px;
}

.reviews-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 20px;
}

.reviews-title-color {
  color: #576f35;
}

.reviews-description {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #141414;
}

.reviews-list {
  display: flex;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
}

.reviews-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid rgba(122, 49, 69, 0.3);
  border-radius: 24px;
  padding: 20px 16px;
  max-width: 335px;
}

.reviews-second-item {
  display: none;
}

.reviews-third-item {
  display: none;
}

.reviews-item-img {
  border-radius: 100px;
}

.reviews-item-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin-top: 24px;
  margin-bottom: 8px;
}

.reviews-item-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}

@media screen and (min-width: 768px) {
  .reviews {
    padding: 100px 32px;
  }

  .container-reviews {
    max-width: 768px;
  }

  .reviews-container-title {
    max-width: 560px;
    margin-bottom: 50px;
  }

  .reviews-title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 25px;
  }

  .reviews-description {
    font-size: 16px;
    line-height: 1.25;
  }

  .reviews-list {
    max-width: 704px;
    flex-direction: row;
    gap: 18px;
  }

  .reviews-item {
    padding: 20px;
    max-width: calc((100% - 18px) / 2);
    height: 258px;
  }

  .reviews-second-item {
    display: flex;
  }

  .reviews-item-title {
    font-size: 18px;
    line-height: 1.1;
    color: #141414;
  }

  .reviews-item-text {
    font-size: 16px;
    line-height: 1.4;
    color: rgba(20, 20, 20, 0.4);
  }
}

@media screen and (min-width: 1280px) {
  .reviews {
    padding: 100px 100px;
  }

  .container-reviews {
    max-width: 1280px;
  }

  .reviews-list {
    max-width: 1079px;
    gap: 25px;
  }

  .reviews-item {
    max-width: calc((100% - 50px) / 3);
  }

  .reviews-third-item {
    display: flex;
  }
}
